<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>-->
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DataMonkey.DatabaseFactorySectionHandler, DataMonkey, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <connectionStrings>
    <add name="Oracle" connectionString="DATA SOURCE=10.0.2.15:1521/XE;PASSWORD=Suxel32#;USER ID=FUTCOMKER" />
  </connectionStrings>
  <DatabaseFactoryConfiguration Name="DataMonkey.OracleDatabase" ConnectionStringName="Oracle"/>
</configuration>