<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DataMonkey.DatabaseFactorySectionHandler, DataMonkey, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <appSettings>
    <add key="ssh_host" value="192.1.1.1"/>
    <add key="ssh_user" value ="user"/>
    <add key="ssh_pwd" value="pwd"/>
  </appSettings>
  <connectionStrings>
    <add name="Oracle" connectionString="DATA SOURCE=10.0.1.1:1521/XE;PASSWORD=pwd;USER ID=user" />
  </connectionStrings>
  <DatabaseFactoryConfiguration Name="DataMonkey.OracleDatabase" ConnectionStringName="Oracle"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>